*{
    padding: 0px;
    margin: 0px;
}
.header{
    text-align: center;
    color:rgb(135, 84, 158);
    background-color: rgb(0, 196, 196);
    font-size: larger;
    font-size: 2rem;

}

.info{
    display: flex;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: column;
    background-color: aquamarine;
    color: rgb(175, 19, 19);
   
    /* color: aqua; */
}
.o{
    font-weight: bolder;
    font-size: 1.5rem;
    color: brown;
    background-color: rgb(18, 0, 82);
    border: 0px solid transparent;
}

 .o:hover{
    /* position: relative; */
    cursor: pointer;
    /* border: .2rem solid black; */
    width: 70%;
    /* height: 1.5rem; */
    position: relative;
    left:1rem;
    right: 4.9rem;
    margin-left: 4.5rem;
    padding-right: 2rem;
    background-color: black;
    transform:scale(1.2,3);
 }